<div fxLayout="column" fxFlex>
  <h2 class="page-title">Books List Master Detail Page</h2>
  <md-sidenav-container flexLayout-="row" fxFlex class="books-list">
    <md-sidenav mode="side" opened>
      <md-nav-list>
        <md-list-item *ngFor="let book of booksList" (click)="selectedBook = book">
          <img md-list-avatar [src]="book.coverImage" />
          <h2 md-line>{{book.title}}</h2>
          <p md-line> {{book.authors}} </p>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <div class="books-list-item" fxFlex>
      <div *ngIf="selectedBook" class="books-list-item--detail" fxLayout="row" fxFlex.sm="column">
        <div class="books-list-item--coverimage">
          <img [src]="selectedBook.coverImage" />
        </div>
        <div class="books-list-item--content" fxFlex>
          <h3>{{selectedBook.title}}</h3>
          <p>{{selectedBook.authors}}</p>
          <p>{{selectedBook.published}}</p>
          <p>ISBN: {{selectedBook.isbn}}</p>
          <p>{{selectedBook.description}}</p>
        </div>
      </div>
    </div>
  </md-sidenav-container>
</div>
