md-sidenav {
  width: 300px;
}

.master-detail-container {
  height: calc(100vh - 113px);
  overflow: hidden;
  padding: 1rem;
}

.books-list-container {
  height: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}
