<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Book Store</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Book Store</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/books">Books List</a>
      <a class="mdl-navigation__link" routerLink="/books/new">Add Book</a>
      <a class="mdl-navigation__link" routerLink="/about">About</a>
    </nav>
  </div>
  <main class="mdl-layout__content page-content">
    <router-outlet></router-outlet>
  </main>
</div>
