.books-list-item {
  padding: 0 1rem 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.books-list-item--coverimage {
  width: 150px;
  padding: 1rem;

  img {
    width: 100%;
  }
}

.books-list-item--content {
  padding: 1rem 1rem 1rem 0;

  h3 {
    margin-top: 0;
    margin-bottom: 0.875rem;
    font-size: 1.25rem;
    font-weight: 400;
  }

  p {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 150%;
  }
}

.book-card {
  width: 160px;
  margin-bottom: 1.5rem;
}
