<div class="row m-1">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header">
        <h2>Registration Form</h2>
      </div>
      <div class="box-divider"></div>
      <div class="box-body">
        <form novalidate #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>First name</label>
              <input type="text" class="form-control" name="firstName" ngModel #firstNameRef="ngModel" required
                     minlength="3" maxlength="8">
              <div class="error-message" *ngIf="firstNameRef.touched && firstNameRef?.errors?.required">
                The first name is required.
              </div>
              <div class="error-message" *ngIf="firstNameRef.touched && firstNameRef?.errors?.minlength">
                You should enter minimum {{firstNameRef?.errors?.minlength.requiredLength}} characters into first name,
                but you entered only
                {{firstNameRef?.errors?.minlength.actualLength}} characters.
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label>Last name</label>
              <input type="text" class="form-control" name="lastName" ngModel #lastNameRef="ngModel" required>
              <div class="error-message" *ngIf="lastNameRef.touched && lastNameRef?.errors?.required">
                The last name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" ngModel #emailRef="ngModel" required
                   [pattern]="EMAIL_REGEX">
            <div class="error-message" *ngIf="emailRef.touched && emailRef?.errors?.required">
              The email is required.
            </div>
            <div class="error-message" *ngIf="emailRef.touched && emailRef?.errors?.pattern">
              The email format should be <i>shravan@theshravan.net</i>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Enter Password</label>
              <input type="password" class="form-control" name="password" ngModel #passwordRef="ngModel" required
                     [pattern]="PASSWORD_STRENGTH_REGEX">
              <div class="error-message" *ngIf="passwordRef.touched && passwordRef?.errors?.required">
                The password is required.
              </div>
              <div class="error-message" *ngIf="passwordRef.touched && passwordRef?.errors?.pattern">
                The password must be minimum 8 characters, must contain at least 1 lowercase alphabet, 1 uppercase
                alphabet, 1 numeric character, 1 special character.
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" name="confirmPassword" ngModel #confirmPassRef="ngModel"
                     required>
              <div class="error-message" *ngIf="confirmPassRef.touched && confirmPassRef?.errors?.required">
                The confirm password is required.
              </div>
            </div>
          </div>
          <div ngModelGroup="address" #addressRef="ngModelGroup">
            <div class="row">
              <div class="col-sm-6 form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street" ngModel #streetRef="ngModel" required>
                <div class="error-message" *ngIf="streetRef.touched && streetRef?.errors?.required">
                  The street is required.
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" ngModel #cityRef="ngModel" required>
                <div class="error-message" *ngIf="cityRef.touched && cityRef?.errors?.required">
                  The city is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state" ngModel #stateRef="ngModel" required>
                <div class="error-message" *ngIf="stateRef.touched && stateRef?.errors?.required">
                  The state is required.
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label>Zip</label>
                <input type="text" class="form-control" name="zip" ngModel #zipRef="ngModel" required>
                <div class="error-message" *ngIf="zipRef.touched && zipRef?.errors?.required">
                  The zip code is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Country</label>
              <select class="form-control" name="country" ngModel="" #countryRef="ngModel" required>
                <option value="CA">Canada</option>
                <option value="IN">India</option>
                <option value="SW">Switzerland</option>
                <option value="UK">United Kingdom</option>
                <option value="US">United States of America</option>
              </select>
              <div class="error-message" *ngIf="countryRef.touched && countryRef?.errors?.required">
                The country is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Gender</label>
              <div>
                <label class="check-label">
                  <input type="radio" name="gender" value="Male" ngModel #genderRef="ngModel" required>
                  <i class="blue"></i>Male
                </label>
                <div class="spacer"></div>
                <label class="check-label">
                  <input type="radio" name="gender" value="Female" ngModel #genderRef="ngModel" required>
                  <i class="blue"></i>Female
                </label>
                <div class="spacer"></div>
                <label class="check-label">
                  <input type="radio" name="gender" value="Other" ngModel #genderRef="ngModel" required>
                  <i class="blue"></i>Other
                </label>
              </div>
              <div class="error-message" *ngIf="genderRef.touched && genderRef?.errors?.required">
                The gender is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="check-label">
              <input type="checkbox" name="agreement" value="" ngModel #agreementRef="ngModel" required>
              <i class="blue"></i>I agree to the Terms of Service
            </label>
            <div class="error-message" *ngIf="agreementRef.touched && agreementRef?.errors?.required">
              You must agree to the terms and conditions before registration.
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" [disabled]="formRef.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>